* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 150px;
    font-family: 'RocknRoll One', sans-serif;
    font-family: 'Montserrat', sans-serif;
    background-color: #FFF;
}

/* HEADER */

header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h1 {
    font-family: 'RocknRoll One';
    margin: auto;
    letter-spacing: 5px;
    font-size: 42px;
    word-spacing: 1em;
    text-transform: uppercase;
    text-shadow: black 2px 2px 2px;    
}

/* NAV */

nav {
    height: 100px;
    width: auto;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'RocknRoll One';
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #FFF;
}

#navLeft {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
}

#navRight {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

ul {
    list-style: none;
}

#navLeft li, #navRight li {
    padding-right: 20px;
}

a:link {
    text-decoration: none;
    color: #000;  
}

a:visited {
    color: #000;    
}

a:hover {
    color: rgba(255, 255, 255, 0.5);
    text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
}

/* MAIN */

#MainAsideContainer {
    display: flex;
    flex-direction: row;
}

main {
    width: 100%;
    display: flex;
}

#MainColumnLeft {
    width: 50%;
    display: flex;
    flex-direction: column;
}

#MainColumnRight {
    width: 50%;
    display: flex;
    flex-direction: column;
}

article {
    height: auto;
    border-bottom: 1px solid rgb(0, 0, 00, 0.4);
    padding: 0 25px 10px 0;
    margin: 0 10px 5px 0;
}

.imgLarge {
    height: auto;
    width: 100%;
    border: 1px solid black; 
}

.imgNormal {
    height: auto;
    width: 100%;
    border: 1px solid black; 
}

.imgSmall {
    height: auto;
    width: 95%;
    border: 1px solid black; 
}

h2 {
    font-size: 18px;
    margin: 10px 0;
}

h4 {
    margin: 0 0 10px 0;
}

time {
    font-size: 10px;
}

.articleText {
    font-size: 14px;
    margin: 10px 0;
}

/* ASIDE */

aside {
    width: 30%;
    display: flex;
    flex-direction: column;
}

h4 {
    margin-top: 10px;
}


/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: #FFF;
    height: 100px;
    border-radius: 1em 1em 0 0;
}

h3 {
    font-size: 22px;
}

/* MEDIA */

@media (min-width: 1026px) {
    nav {
        font-size: 20px;
        justify-content: center;
        align-items: center;
        
    }
    #logo > img {
        width: 125px;
        height: 125px;
    } 

    h2 {
    font-size: 16px;
    }

    time {
    font-size: 10px;
    }
}
@media (min-width: 900px) and (max-width: 1025px) {
    body {
        margin: 0 125px;
    }

    nav {
        font-size: 18px;
    }  
    #logo > img {
        width: 100px;
        height: 100px;
    }
    .articleText {
        font-size: 10px;
    }
}

@media (min-width: 651px) and (max-width: 900px) {
    body {
        margin: 0 50px;
    }
    #logo > img {
        width: 100px;
        height: 100px;
    } 
    h1 {
        font-size: 27px;
        word-spacing: 0px;
    }

    time {
        font-size: 7px;
    }

    h2 {
        font-size: 13px;
    }
    .articleText {
        font-size: 10px;
    }
  
    nav {
        font-size: 15px;
        justify-content: center;
        align-items: center;
        height: 100px;
    }  
    header {
        display: none;
    }
} 

@media (max-width: 650px) {
    body {
        margin: 0 50px;
    }
    nav {
        font-size: 12px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 75px;
    }  
    
    header, #logo {
        display: none;
    }

    main {
        flex-direction: column;
    }

    #MainColumnLeft {
        width: 100%;
        justify-content: center;
        align-content: center;
    }

    #MainColumnRight {
        width: 100%;
        justify-content: center;
        align-content: center;
    }

    h2 {
        font-size: 12px;
        text-align: center;
    }

    .textMayus {
        text-transform: uppercase;
        text-align: center;
    }

    .articleText {
        font-size: 10px;
    }

    h3 {
        font-size: 14px;
    }

    h4 {
        font-size: 13px;
    }
   
    #MainAsideContainer {
    flex-direction: column;
}

    aside {
    border: 1px solid rgb(0, 0, 0, 0.4);
    border-radius: 1em;
    padding: 10px;
    margin: 5px;
    flex-direction: row;
    width: auto;
}

    aside > article {
    border: none;
    border-right: 1px solid rgb(0, 0, 0, 0.4);
}
} 